.Weather {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid #0D6EFD;
  border-radius: 5px;
  padding: 16px;
  background: hsl(0, 0%, 97%);
}

.Weather h1{
  color: grey;
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}

.Weather ul{
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.Weather .temperature{
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit{
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  margin-left: 2px;
}

.Weather .unit a{
  text-decoration: none;
}